@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');
/* */
/* font-family: 'Poppins', sans-serif; */
*{
    box-sizing: border-box;
}

body{
    background-image: url("./snow.jpg");
    background-size: cover;
    background-position: center center;
    display: flex;
    flex-direction: column;
    align-items: center;
  
    min-height: 100vh;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
h1{
    font-weight: normal;
    font-size: 4rem;
    margin-top: 1em;
    
}
.countdown-container{
    display: flex;
    flex-wrap: wrap;
}
.big-text{
    font-weight: bold;
    font-size: 6rem;
    line-height: 1;
    margin: 0 2rem;
}

.countdown-el {
    text-align: center;
}
.countdown-el span{
    font-size: 1.5rem;
}
@media(max-width:575px){
    h1{
        font-size: 30px;
        margin-top: 0.5rem;
    }
    .big-text{
        font-weight: bold;
        font-size: 3rem;
        line-height: 1;
        margin: 0 0.6rem;
    }
}
